### Intro to Pandas
When working with tabular data, such as data stored in spreadsheets or databases, pandas is the
right tool. It helps to explore, clean and process data. In pandas library, a data table is called `dataframe`.  

`DataFrame` is the main object is the pandas. A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table.  

Each column in a dataframe is called `series`

In [ ]:
#To use the pandas library, let import
import pandas as pd
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

When selecting single column of the pandas `Dataframe`, the result is a pandas `Series`. To select the column, use the column label between []

In [ ]:
ages = df["Age"]
print(ages)

# We can create a Series from scratch as well:
ages = pd.Series([22,23,24], name="Age")
print(ages)

pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,â€¦). Importing data from each of these data sources is provided by function with the prefix read_*. Similarly, the to_* methods are used to store data. pandas provides the read_csv() function to read data stored as a csv file into a pandas DataFrame.

In [36]:

df = pd.read_csv("../datasets/melb_data.csv")

#When displaying a DataFrame, the first and last 5 rows will be shown by default:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

Use head() function to display first n rows of the data frame

In [ ]:
df.head(10)

We can use `dtypes` attribute if the dataframe to check how pandas intrepeted the column data type.  
The data types in this DataFrame are integers (int64), floats (float64) and strings (object).

In [ ]:
df.dtypes

The `describe()` method provides quick overview of the numerical values in dataframe. We can see values for columns like "suburb, seller, address,..." are all skipped becuase they have string values

In [ ]:
df.describe()

We can also look at individual statistics of the selected column

In [ ]:
price = df["Price"]
print(price.head(5))
print(f"max price is {price.max()}")
print(f"min price is {price.min()}")
print(f"mean price is {price.mean()}")
print(f"median price is {price.median()}")

Instead of the predefined statistics, specific combinations of aggregating statistics for given columns can be defined using the DataFrame.agg() method:

In [38]:
df.agg(
    {
        "Price": ["min", "max", "median", "skew", "std"],
        "Landsize": ["min", "max", "median", "mean"]
    }
)

               Price       Landsize
min     8.500000e+04       0.000000
max     9.000000e+06  433014.000000
median  9.030000e+05     440.000000
skew    2.239624e+00            NaN
std     6.393107e+05            NaN
mean             NaN     558.416127

Aggregating statistics grouped by category
We can use `groupby` to get mean price for all `PostCode` in our dataset

In [45]:
df[["Price", "Postcode"]].groupby("Postcode").mean()

                 Price
Postcode
3000.0    6.169457e+05
3002.0    1.440227e+06
3003.0    9.945161e+05
3006.0    6.340122e+05
3008.0    8.433333e+05
...                ...
3809.0    5.590000e+05
3810.0    4.963333e+05
3910.0    6.545833e+05
3976.0    5.520000e+05
3977.0    6.072132e+05

[198 rows x 1 columns]

We can also  use `groupby` on specific column and then use another column to get statistcis for that

In [48]:
df.groupby("Postcode")["Rooms"].mean()

Postcode
3000.0    1.826087
3002.0    2.000000
3003.0    2.387097
3006.0    2.073171
3008.0    2.333333
            ...
3809.0    4.000000
3810.0    4.000000
3910.0    3.166667
3976.0    3.500000
3977.0    4.125000
Name: Rooms, Length: 198, dtype: float64

Using `groupby` by multiple columns and explore another column behvior for this grouped data

In [51]:
df.groupby(["Postcode", "YearBuilt"])["Rooms"].mean()

Postcode  YearBuilt
3000.0    1917.0       2.0
          1920.0       1.0
          1938.0       4.0
          1950.0       2.0
          1960.0       1.0
                      ...
3976.0    1998.0       3.0
3977.0    1990.0       4.0
          2002.0       4.0
          2006.0       5.0
          2010.0       4.0
Name: Rooms, Length: 3189, dtype: float64

The value_counts() method counts the number of records for each category in a column.

In [53]:
df["Postcode"].value_counts()

Postcode
3073.0    359
3020.0    306
3121.0    292
3040.0    290
3046.0    284
         ...
3782.0      1
3757.0      1
3756.0      1
3438.0      1
3793.0      1
Name: count, Length: 198, dtype: int64

We can also select multiple columns from dataframe to explore

In [ ]:
data = df[["Price", "Rooms", "Bathroom", "Landsize", "YearBuilt"]]
data.head()

Now if we check describe(), it will return minimum values for all columns in this new dataframe

In [ ]:
data.describe()

We can get quick visual check of the data by using method `plot()

In [ ]:
data.plot.scatter(x="Rooms", y= "Price")

Separate subplots for each of the data columns are supported by the subplots argument of the plot functions. The builtin options available in each of the pandas plot functions are worth reviewing.

In [ ]:
data.plot.area(figsize=(12,4), subplots=True)

To create a new column, use the [] brackets with the new column name at the left side of the assignment.

In [ ]:
data["TotalRooms"] = data["Rooms"] + data["Bathroom"]
data.head()

The rename() function can be used for both row labels and column labels. Provide a dictionary with the keys the current names and the values the new names to update the corresponding names.

In [ ]:
data_renamed = data.rename(
    columns = {
        "Bathroom": "BathRooms"
    }
)
data_renamed.head()